.play-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 156px;
  margin: auto;
  border: 1px solid #000;
}

.status-message {
  width: 200px;
  text-align: center;
  margin: 40px auto;
}

.message--error {
  color: red;
  width: 200px;
  margin: 40px auto;
}

.message--win {
  color: green;
  width: 200px;
  margin: 40px auto;
}

.reset-game {
  display: block;
  margin: 25px auto 0 auto;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid black;
  color: black;
  letter-spacing: 1px;
  transition: all 0.25s ease;
  font-size: 14px;
}

.reset-game:hover {
   color:black;
   background: #abfdab;
  cursor: pointer;
 }

.reset-game:active {
   letter-spacing: 2px;
 }
