.play-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 156px;
  margin: auto;
  border: 1px solid #000;
}

.status-message {
  width: 200px;
  text-align: center;
  margin: 40px auto;
}

.message--error {
  color: red;
  width: 200px;
  margin: 40px auto;
}

.message--win {
  color: green;
  width: 200px;
  margin: 40px auto;
}
